//- This is the base layout, in big projects it is better to use a layout and extend outher pages from it
//- to generate skeleton use html : 5 in VS code emmet
//- Pug is basically indented HTML tags

doctype html
//- HTML tag's attributes are defined inside "()" in coma seperated format
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- Dynamically injecting the value, children who are inheriting the layout must have the "pageTitle", then it will be automatically accessable in the parent layout as well
        title #{pageTitle}
    body 
        //- This h1 will be shown in all pages which will extend this base layout
        //- The HTML tag is placed after a space, here it is "This is our website using PUG"
        h1 This is our website using PUG
        //- Defining the main block
        block main