extends layouts/pug-layout.pug

block main
    main
        
        //- Adding class based on condition
        h2(class = (user === "Kuhu" ? "super-admin" : user === "Sourav" || user === "Debjani" ? "admin" : "no-admin")) Home Page
        p The current user is: #{user}

        //- Implementing if else
        if user === "Sourav" || user === "Debjani"
            p The user is Admin
        else if user === "Kuhu"
            p The user is Super Admin
        else
            p The user is not Admin